
spark/data/business.jl

spark/data/reviews.jl

spark/data/user.jl

spark/target/final/vBusiness/part-00000

spark/target/final/vUser/part-00000

spark/target/full/vUser/.part-00000.crc

spark/target/full/vUser/part-00000

spark/target/full/vBusiness/part-00000

*.crc
